<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <title>Register</title>
</head>

<body>
    <div class="main flex">

        <div class="right h-[100vh] w-[100vw] flex flex-col gap-7 justify-center items-center">
            <div class="h-[80vh] w-[90%] flex flex-col items-center gap-5 border border-gray-300 p-5">
                <img src="https://1000logos.net/wp-content/uploads/2017/02/Logo-Instagram.png" class="w-[50vw]">
                <form action="/register" method="post" class="flex flex-col gap-3 ">

                    <input type="email" placeholder="Email" name="email"
                        class="border border-gray-300 px-10 py-2 text-center" required>
                    <input type="text" placeholder="Full Name" name="fullname"
                        class="border border-gray-300 px-10 py-2 text-center" required>
                    <input type="text" placeholder="Username" name="username"
                        class="border border-gray-300 px-10 py-2 text-center" required>
                    <input type="password" placeholder="Password" name="password"
                        class="border border-gray-300 px-[5vw] py-2 text-center" required>
                    <input type="submit" value="Register"
                        class="text-center bg-blue-500 text-white px-[5vw] py-2 rounded-md">
                    <p class="pb-11 pt-11 text-center">already have an account? <a href="/login"
                            class="text-blue-500">Sign in</a></p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>